/* WEB ELEMENTS v1 : 7JUNE2017 */
/* =============== BUTTONS =============== */

/* LARGE */
.clsBtnLarge {
	font-family:'Open Sans','Sans Serif',Verdana;
	text-shadow: none;
	line-height:24px;
  	font-size:16px;
  	/* background-color: #73b81f;
  	border:1px solid #53981d;   -- IS GREEN */
  	background-color: #4285f4;
  	border:1px solid #2265d4;
  	padding:15px 20px;
  	border-radius:3px;
  	color:#fff;
	position: relative;
/* BUTTON TRANSITIONS BASE */
	-webkit-transition: all 150ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 150ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 150ms ease-in;
	-moz-transform: scale(1);
	transition: all 150ms ease-in;
	transform: scale(1);
}

.clsBtnLargeFixedWidth220 {
    display:block;
    width:220px;
  text-shadow: none;
  line-height:24px;
    font-size:16px;
    /* background-color: #73b81f;
    border:1px solid #53981d;   -- IS GREEN */
    background-color: #4285f4;
    border:1px solid #2265d4;
    padding:15px 0;
    border-radius:3px;
    color:#fff;
  position: relative;
/* BUTTON TRANSITIONS BASE */
  -webkit-transition: all 150ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 150ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 150ms ease-in;
  -moz-transform: scale(1);
  transition: all 150ms ease-in;
  transform: scale(1);
}

/* HOVER EFFECT */
.clsBtnLarge:hover {
  background-color: #F68D2E;
  border:1px solid #d66d0e;
  /* background-color: #2265d4;
  border:1px solid #2265d4;   -- IS BLUE */
  /*font-size:16px;*/
  padding:15px 20px;
  border-radius:3px;
  color:#fff;
}

.clsBtnLargeFixedWidth220:hover {
  background-color: #F68D2E;
  border:1px solid #d66d0e;
  /* background-color: #2265d4;
  border:1px solid #2265d4;   -- IS BLUE */
  /*font-size:16px;*/
  padding:15px 0;
  border-radius:3px;
  color:#fff;
}

